<nav class="navbar navbar-default navbar-fixed-top navbar-danger">
    <div class="container">
      <!-- <p class="navbar-text navbar-right">Test</p> -->
      <button type="button" class="btn btn-default navbar-btn ">
        <a href="/users/:id">
          My Maps
        </a>
      </button>
      <button type="button" class="btn btn-default navbar-btn ">
        <a href="/users/josh/create">
          Create
        </a>
      </button>
      <button type="button" class="btn btn-default navbar-btn navbar-right">
        <a href="/">
          Sign In
        </a>
      </button>

    <!-- <a href="/urls/new">Create</a> -->


    </div>
</nav>
<header>
<nav class="navbar navbar-dark bg-warning">
  <div class="nav navbar-nav">
    <button type="submit" class="button btn-success btn-sm" role="button">this</button>
  </div>
</nav>
</header>


<!-- <button type="submit" class="button btn-success btn-sm" role="button">this</button> -->