<!DOCTYPE html>
<html>
  <% include ./partials/_head %>
  <body>
    <% include ./partials/_header %>
    <div>
      <input class="form-control input-sm" type="text" id="autocomplete">
      <button class="saveNewMapBtn button btn-success btn-md" type="button">Save Map</button>
    </div>
    <div class="container">
      <form class="info-window-form container form-group new-poi-form">
        <input class="form-control input-sm xx" id="info-window-form-name" type="text" name="title" placeholder="Title"><br>
        <input class="form-control input-sm yy" id="info-window-form-description" type="text" name="description" placeholder="A short description of this place."><br>
        <input class="form-control input-sm zz" id="info-window-form-url" type="text" name="url" placeholder="http://">
        <input class="submitInfoBox button btn-success btn-md" type="submit">
      </form>

      <div class="container">
        <div class="row">

            <h4>Choose a map</h4>
            <div class="list-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <a href="#" class="list-group-item active">All Maps</a>
              <a href="#" class="list-group-item">My Maps</a>
              <a href="#" class="list-group-item">My Favs</a>
            </div>

          <div id="fuckoff" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

            <h4>Map</h4>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>

      <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>
      <script src="/scripts/createNewMap.js"></script>
      <script src="/scripts/marker.js"></script>
      <script src="/scripts/setUpEventListeners.js"></script>
      <script src="/scripts/autoCompleteSearch.js"></script>
      <script src="/scripts/clickableBtns.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=createNewMap"
      async defer"></script>

  </body>
</html>

