<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    html, body {
      height: 100%;
      margin: 0;
    }

    #map {
      height: 70%;
      width: 70%;
      margin: 0;
    }

    #autocomplete {
      width: 50%;
      height: 25px;
    }
  </style>

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>

</head>

<body>

  <div>
    <input class="form-control input-sm" type="text" id="autocomplete">
    <button class="editMap button btn-success btn-md" type="button">Save Changes</button>
  </div>

  <div id="map">
    <script type="text/javascript">
        var data = <%- JSON.stringify(data) %>;
        window.data = data;
    </script>
    <script src="/scripts/clickableBtns.js"></script>
    <script src="/scripts/editMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=editMap"
    async defer"></script>
  </div>

</body>
</html>