<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
  <% include ./partials/_header %>
  <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
      var data = <%- JSON.stringify(data) %>;
      window.data = data;
  </script>
  <script src="/scripts/autoCompleteSearch.js"></script>
  <script src="/scripts/setUpMarker.js"></script>
  <script src="/scripts/editMap.js"></script>
  <script src="/scripts/clickableBtns.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=editMap"
  async defer"></script>

  <div>
    <input class="form-control input-sm" type="text" id="autocomplete">
  </div>

  <div class="container">

    <div class="container text-center jumbotron map-save-success">
      <p>Map successfully updated!</p>
    </div>

    <span class="info-window-form container form-group new-poi-form">
      <input class="form-control input-sm xx" id="info-window-form-name" type="text" name="title" placeholder="Title"><br>
      <input class="form-control input-sm yy" id="info-window-form-description" type="text" name="description" placeholder="A short description of this place."><br>
      <input class="form-control input-sm zz" id="info-window-form-url" type="text" name="url" placeholder="http://"><br>
      <input class="submitInfoBox button btn-success btn-md" id="updateBoxBtn" type="submit" value="Create">
      <input class="deleteMarker button btn-danger btn-md" type="button" value="Delete">
    </span>

    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 point-info-div container" id="create-map-instructions">
          <h3>How to edit a map.</h3>
            <ol>
          <li>Click on the cool spot you want to edit.</li>
          <li>Edit any fields that need to be changed.</li>
          <li>When you're finished, click 'Update'.</li>
          <li>When you've changed your cool spots, click on 'Save Map'.</li>
            <ol>
          </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <input class="form-control input-sm" type="text" id="mapTitleInput" placeholder="Your map's title">
          <button class="mapDataChangeBtn button btn-success btn-md" id="editMapBtn" type="button">Save Map</button>
          <button class="button btn-danger btn-md" id="deleteMapBtn" type=button>Delete Map</button>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <!-- <h4>Map</h4> -->
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>