<!DOCTYPE html>
<html>
<head>

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>
    <meta charset="utf-8">
    <title>Street View</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #street-view {
        height: 100%;
      }
    </style>
</head>

<body>
  <script src="/scripts/listMaps.js"></script>
  <script type="text/javascript">
    var data = <%- JSON.stringify(data) %>;
    window.data = data;
  </script>

  <container id="displayBox"></container>

</body>
</html>









