<!DOCTYPE html>
<html>
<head>

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>
    <meta charset="utf-8">
    <title>Street View</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #street-view {
        height: 100%;
      }
    </style>
</head>

<body>
  <script src="/scripts/listMaps.js"></script>
  <script type="text/javascript">
    var data = <%- JSON.stringify(data) %>;
    window.data = data;
  </script>

  <container id="displayBox"></container>

  <div id="street-view" style="height: 300px; width: 300px;"></div>
    <script>
      var panorama;
      function initialize() {
        panorama = new google.maps.StreetViewPanorama(
            document.getElementById('street-view'),
            {
              position: {lat: 49.2776612, lng: -123.1081074},
              pov: {heading: 165, pitch: 0},
              zoom: 1
            });
      }
    </script>
    <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=initialize">
    </script>


</body>
</html>









