<!DOCTYPE html>
<html>
  <% include ./partials/_head %>
  <body>
  <% include ./partials/_header %>
  <div class="container">
    <div class="jumbotron">
    <h1 class="display-3">Sign up, baby!</h1>
    <p class="lead">We'll let you look at some maps, but if you want to make your own you'll need to sign up.</p>
    <hr
    <div class="container">
  <form>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
  </form>
</div>
    </div>
  </div>







    <script src="/scripts/drawMap.js"></script>
    <script src="/scripts/insertPointOnMap.js"></script>
    <script src="/scripts/getCoordinatesOnEvent.js"></script>
    <script src="/scripts/setUpEventListeners.js"></script>
    <script src="/scripts/renderMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=renderMap"
    async defer"></script>
    <script src="/scripts/clickableBtns.js"></script>
  </body>
</html>