<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>

    <div id="map">

      <script src="/scripts/createMap.js"></script>
      <script src="/scripts/insertPointOnMap.js"></script>
      <script src="/scripts/getCoordinatesOnEvent.js"></script>
      <script src="/scripts/renderMap.js"></script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=renderMap"
      async defer></script>

    </div>

  </body>
</html>