<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
  <% include ./partials/_header %>
  <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
      var data = <%- JSON.stringify(data) %>;
      window.data = data;
  </script>

  <script src="/scripts/showMap.js"></script>
  <script src="/scripts/clickableBtns.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=showMap"
  async defer"></script>

  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h4>Choose a map</h4>
          <div class="list-group">
            <a href="#" class="list-group-item active">All Maps</a>
            <a href="#" class="list-group-item">My Maps</a>
            <a href="#" class="list-group-item">My Favs</a>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <h4>Map</h4>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


