<!DOCTYPE html>
<html>
<% include ./partials/_head %>
<body>
  <% include ./partials/_header %>
  <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
      var data = <%- JSON.stringify(data) %>;
      window.data = data;
  </script>
  <script src="/scripts/showMap.js"></script>
  <script src="/scripts/listMaps.js"></script>
  <script src="/scripts/clickableBtns.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyA9dM3-LJxJfuiirdbAnWU77oLdKexM5bo&callback=showMap"
  async defer"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


<!-- working with dataTemplate.pointsData -->


  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left">
          <h4>My Maps</h4>
            <div class="list-group">
              <div class="list-group" id="displayBox">
                <!-- <a href="#" class="list-group-item"> -->

              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 point-info-div container" id="point-info-div">
                <h4>My Marker's Title</h4>
                <p>This is a short description of this marker. It's for a pizza shop that I like. In fact, I like pizza so much that I've included a picture of it!</p>
                <img src="http://yourshot.nationalgeographic.com/u/ss/fQYSUbVfts-T7pS2VP2wnKyN8wxywmXtY0-FwsgxoJHhoNIWE0H9anHBihcJg9Baw2T3WHytsJEx76NTd_VQ/" alt="alternative text">
              </div>
            </div>
          </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pull-right">
          <h4>Map</h4>
          <button type="button" id="editThisMapBtn">Edit Map</button>
          <div id="map"></div>
        </div>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  </body>
</html>