.info-window-form {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 300px;
}
class="info-box-form"

#info-window-form-title{
  width: 300px;
}

#info-window-form-description{
  width: 300px;
}

#info-window-form-url{
  width: 300px;
}