.info-window-form {
  margin: 0;
  padding: 0;
  /*height: 100px;
  width: 300px;*/
}
class="info-box-form"

#info-window-form-title{
  display: absolute;
  width: 100%;
}

#info-window-form-description{
  display: absolute;
  width: 100%;
}

#info-window-form-url{
  display: absolute;
  width: 100%;
}

form.info-window-form {

}

input {
  width: 100%;
}

#map .info-window-form {
    display: block;
    max-width: 400px;
}