#map {
  height: 75vh;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.info-window-form {
  display: none;
}

#map .info-window-form  #pano{
  display: block;
}

.point-info-div {
background-color: #577492;
color: white;
border-radius: 5px;
}