#map {
        height: 75vh;
        /*width: 100%;*/
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.info-window-form {
  display: none;
}

#map .info-window-form {
  display: block;
}


#fuckoff {
  border-top: 100px;
}