#map {
  height: 75vh;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.info-window-form {
  display: none;
}

#map .info-window-form  #pano{
  display: block;
}

.point-info-div {
background-color: #577492;
color: white;
border-radius: 5px;
}

.point-info-div img {
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
}

#map-save-success {
  display: none;
  border-radius: 5px;
  width: 400px;
  z-index: 10;
}

.jumbotron p {
  font-size: 27px;
}

#map-viewport {
  display: inline-block;
}

#mapTitleInput {
  max-width: 600px;
  float: left;
  margin-bottom: 5px;
}

.mapDataChangeBtn {
  float: right;
}

#autocomplete {
  display: none;
}

#create-map-instructions {
  background-color: #577492;
  color: white;
  border-radius: 5px;
}
