.navbar-default {
  background-color: #577492;
  border-color: #577492;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-text {
  color: #d4d8d1;
}
.navbar-default .navbar-nav > li > a {
  color: #d4d8d1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d4d8d1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d4d8d1;
  background-color: #577492;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d4d8d1;
  background-color: #577492;
}
.navbar-default .navbar-toggle {
  border-color: #577492;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #577492;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d4d8d1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d4d8d1;
}
.navbar-default .navbar-link {
  color: #d4d8d1;
}
.navbar-default .navbar-link:hover {
  color: #d4d8d1;
}

#sign-in-link {
  color: white;
}

#sign-out-link {
  color: white;
}

#navbarlinks {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.navbar-btn {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d4d8d1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d4d8d1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d4d8d1;
    background-color: #577492;
  }
}

.navbar-brand img {
    height: 250%;
    margin-top: -15px;
    margin-left: -30px;
    color: white;
}




.navbar-brand img:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}